/*=========================mymyListGrid=====================*/

.mymylistgrid2,
.mymylistgrid2Dark,
.mymylistgrid2Over,
.mymylistgrid2OverDark,
.mymylistgrid2exOver,
.mymylistgrid2exOverDark,
.mymylistgrid2Selected,
.mymylistgrid2SelectedDark,
.mymylistgrid2SelectedOver,
.mymylistgrid2SelectedOverDark,
.mymylistgrid2excurrOver,
.mymylistgrid2excurrOverDark,
.mymylistgrid2Disabled,
.mymylistgrid2DisabledDark {
    border-top: 1px solid #fafafa;
    border-bottom: 1px solid #f0f0f0;
    color: black;
    font-family: Arial, Verdana, sans-serif;
    font-size: 16px !important;
    text-overflow: ellipsis;
}

.mymylistgrid2Dark {
    background-color: #fafafa;
}

.mymylistgrid2SelectedOver,
.mymylistgrid2SelectedOverDark,
.mymylistgrid2Over,
.mymylistgrid2excurrOver,
.mymylistgrid2exOver,
.mymylistgrid2OverDark,
.mymylistgrid2excurrOverDark,
.mymylistgrid2exOverDark {
    border-bottom: 1px solid #ababab;
    border-top: 1px solid #b8cfef;
    background-color: #c4ddfd;
    background-image: url(./images/row_Selected_Over.png);
    background-repeat: repeat-x;
    background-attachment: scroll;
    background-position: bottom left;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2M0ZGRmZCIvPjxzdG9wIG9mZnNldD0iOSUiIHN0b3AtY29sb3I9IiNmMGY4ZmYiLz48c3RvcCBvZmZzZXQ9IjE0JSIgc3RvcC1jb2xvcj0iI2U2ZjNmZiIvPjxzdG9wIG9mZnNldD0iODYlIiBzdG9wLWNvbG9yPSIjY2NlNWZmIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjYzRkZGZkIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #c4ddfd), color-stop(9%, #f0f8ff), color-stop(14%, #e6f3ff), color-stop(86%, #cce5ff), color-stop(100%, #c4ddfd));
    background-image: -moz-linear-gradient(top, #c4ddfd 0%, #f0f8ff 9%, #e6f3ff 14%, #cce5ff 86%, #c4ddfd 100%);
    background-image: -webkit-linear-gradient(top, #c4ddfd 0%, #f0f8ff 9%, #e6f3ff 14%, #cce5ff 86%, #c4ddfd 100%);
    background-image: linear-gradient(to bottom, #c4ddfd 0%, #f0f8ff 9%, #e6f3ff 14%, #cce5ff 86%, #c4ddfd 100%);
}

.mymylistgrid2Selected,
.mymylistgrid2SelectedDark{
    background: #d6e8ff;
    border-bottom: 1px dotted #9fb7e9;
    border-top: 1px dotted #9fb7e9;
}
.mymylistgrid2Disabled,
.mymylistgrid2DisabledDark {
    color:#A7C4D3;
    background-color:#FFFFFF;
}


.mymylistgrid2ex,
.mymylistgrid2exDark {
    color:red;
    border-bottom:1px solid #c0c0c0; border-top:1px solid #c0c0c0;
    font-family: Arial, Verdana, sans-serif;
    font-size: 16px !important;
    text-overflow: ellipsis;
    background-color:#fff0f0;
}

.mymylistgrid2excurr,
.mymylistgrid2excurrDark {
    color:red;
    border-bottom:1px solid #c0c0c0; border-top:1px solid #c0c0c0;
    font-family: Arial, Verdana, sans-serif;
    font-size: 16px !important;
    text-overflow: ellipsis;
    background-color:#ffe0e0;
}


/*----------------------mymybutton-------------------------*/
.mymybutton2,
.mymybutton2Over,
.mymybutton2Focused,
.mymybutton2FocusedOver,
.mymybutton2Down,
.mymybutton2FocusedDown,
.mymybutton2Selected,
.mymybutton2SelectedFocused,
.mymybutton2SelectedDown,
.mymybutton2SelectedFocusedDown,
.mymybutton2SelectedOver,
.mymybutton2SelectedFocusedOver,
.mymybutton2Disabled,
.mymybutton2SelectedDisabled,
.mymybutton2Pending,
.mymybutton2PendingOver,
.mymybutton2PendingFocused,
.mymybutton2PendingFocusedOver,
.mymybutton2PendingDown,
.mymybutton2PendingFocusedDown,
.mymybutton2PendingSelected,
.mymybutton2PendingSelectedFocused,
.mymybutton2PendingSelectedDown,
.mymybutton2PendingSelectedFocusedDown,
.mymybutton2PendingSelectedOver,
.mymybutton2PendingSelectedFocusedOver,
.mymybutton2PendingDisabled,
.mymybutton2PendingSelectedDisabled,
.mymybutton2DeselectedDisabled {
    font-size:16px !important;
}

/*----------------------mymytext------------------------*/

.mymytext2,
.mymytext2Focused,
.mymytext2Disabled,
.mymytext2Error,
.mymytext2Hint{
    font-size:16px !important;
}

/*-----------------------select--------------------*/
/*
.mymyselectitemControl2,
.mymyselectitemControl2Error,
.mymyselectitemControl2Focused,
*/
.mymyselectitemText2,
.mymyselectitemText2Dark,
.mymyselectitemText2SelectedOver,
.mymyselectitemText2SelectedOverDark,
.mymyselectitemText2Selected,
.mymyselectitemText2SelectedDark,
.mymyselectitemText2Error,
.mymyselectitemText2Disabled,
.mymyselectitemText2Focused,
.mymyselectitemText2Hint{
    font-size:16px !important; text-overflow:ellipsis;
}
/*
.mymyselectitemText2Dark111 {
    background: #d6e8ff;
    border-bottom: 1px dotted #9fb7e9;
    border-top: 1px dotted #9fb7e9;
}*/
.mymyselectitemText2Over,
.mymyselectitemText2SelectedOver {
    color:#333333;
    border-bottom: 1px solid #ababab;
    border-top: 1px solid #b8cfef;
    background-color: #c4ddfd;
}
.mymyselectitemText2OverDark,
.mymyselectitemText2SelectedOverDark {
    color:#222222;
    border-bottom: 1px solid #ababab;
    border-top: 1px solid #b8cfef;
    background-color: #c4ddfd;
}
.mymyselectitemText2Selected,
.mymyselectitemText2SelectedDark {
    background: #d6e8ff;
    border-bottom: 1px dotted #9fb7e9;
    border-top: 1px dotted #9fb7e9;
}

